body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.carrinho {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.produtos-adicionados {
    width: 60%;
}

.produto {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.produto img {
    max-width: 50px;
    margin-right: 10px;
}

.info-produto {
    flex-grow: 1;
}

.controles button {
    cursor: pointer;
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}

.resumo-carrinho {
    width: 30%;
    border: 1px solid #ddd;
    padding: 10px;
}

.resumo-carrinho ul {
    list-style: none;
    padding: 0;
}

.resumo-carrinho li {
    margin-bottom: 5px;
}

.resumo-carrinho p {
    margin-top: 10px;
}
